<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1i" stopProcessing="true">
            <match url="^([^/\.]+)/([^/\.]+)?$"  />
            <action type="Rewrite" url="/index.php?page={R:1}&amp;{R:2}"  />
        </rule>
        <rule name="rule 2i" stopProcessing="true">
            <match url="^([^/\.]+)?$"  />
            <action type="Rewrite" url="/index.php?page={R:1}"  />
        </rule>
        <rule name="rule 3i" stopProcessing="true">
            <match url="^/?$"  />
            <action type="Rewrite" url="/index.php"  />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
